name: Build and deploy Python app to Azure Web App - qent

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Collect static
      run: |
        python manage.py collectstatic --noinput

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-app
        path: |
          .
          !venv/
          !antenv/
          !*.pyc
          !__pycache__/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: python-app

    - uses: azure/webapps-deploy@v3
      with:
        app-name: "qent"
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_069D12A6A793415D853CDB8E74DD94FB }}
        package: .
